/* General form and page styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 600px;
}

label {
    font-size: 1.2em;
    display: block;
    margin-bottom: 8px;
}

input, select, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #168aad;
    color: white;
    border: none;
    font-size: 1.2em;
}

input[type="submit"]:hover {
    background-color: #1e6091;
}

#membership-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}

.card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 22%;
    margin: 10px;
    box-sizing: border-box;
}

.card h3 {
    margin: 10px 0;
}

.card p {
    margin: 10px 0;
}

.card-link {
    text-decoration: none;
    color: #168aad;
    font-weight: bold;
}

.card-link:hover {
    color: #1e6091;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
    box-sizing: border-box;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {
    #membership-cards {
        flex-direction: column;
        align-items: center;
    }
}

header {
    background-color: #caf0f8;
    padding: 20px;
    transition: background-color 0.3s;
}

header.dark-mode {
    background-color: #1e6091; /* Dark mode header background */
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 90px;
    height: 90px;
    margin-right: 15px;
    border-radius: 50%;
    object-fit: cover;
}

.site-name h1 {
    font-size: 1.8rem;
    margin: 0;
    color: #03045e;
}

.site-name p {
    font-size: 1rem;
    margin: 0;
    color: #023e8a;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #0077b6;
}

body.dark-mode nav a {
    color: white;
}

